@mixin user-card {
    margin: 10px;
    width: 240px;
    height: 260px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}
@mixin confirm-button {
    width: 41%;
    padding: 8px 17px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
@mixin confirm-button-hover {
    opacity: 0.9;
    cursor: pointer;
}
