.modal__container {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    position: fixed;
    z-index: 22222222222;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-top: 200px;
    // visibility: hidden;
    transition: visibility 0s opacity 0.5s;
    background:#1a2d58df;
    
    .modal {
        background-color:#1A2D58;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 400px;
        text-align: center;
        padding: 20px;

        h1 {
            margin: 10px 0;
            font-size: 20px;
            letter-spacing: 4px;
            margin: 10px 0;
        }
        p {
            font-size: 15px;
            margin: 15px 0;
        }
     
        .buttons {
            font-size: 15px;
            .going {
                width: 49.99999%;
                float: left;
                color: #fff;
                padding: 8px 16px;
                background-color: #4caf50;
                &:hover {
                    background-color: rgb(218, 218, 218);
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
    &.show {
        visibility: visible !important;
        opacity: 1 !important;
    }
}
@media (max-width: 768px) {
    .modal {
        width: 500px !important;
    }
}
@media (max-width: 600px) {
    .modal {
        margin: 0 10px;
        width: auto !important;
    }
}
@media (max-width: 600px) {
    .going,
    .cant__come {
        width: 100% !important ;
    }
}
.cant__come {
    width: 49.99999%;
    float: left;
    color: #fff;
    background-color: #f44336;
    padding: 8px 16px;
    &:hover {
        background-color: rgb(218, 218, 218);
        color: #000;
        cursor: pointer;
    }
}

.material-textfield {
    position: relative;  
    color: rgb(255, 255, 255);
  }
  
  label {
    position: absolute;
    font-size: 1rem;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }


  input {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;  
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
    background-color: #fff;
    background:#1a2d58df;
  }
  input:focus {
    border-color: #6200EE;  
  }
  input:focus + label {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  input:hover + label {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  input:hover  {
     border-color: #6200EE;
  }
