.users {
    width: 100%;
    height: 87vh;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: flex-start;
    .add-users {
        @include card;
        font-size: 22px;
        background-color: rgba(255, 255, 255, 0.102);
        border: 2px solid #e4e4e4a2;
        transition: 0.3s;
        .plus {
            font-size: 40px;
        }
        &:hover {
            background-color: #1992db;
            cursor: pointer;
        }
    }
}
.user-card {
    @include card;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 15px;
    .user-data {
        margin-top: 60px;
        h2 {
            font-size: 40px;
        }
        span {
            font-size: 18px;
            margin-right: 5px;
        }
        a {
            font-size: 14px;
            display: block;
            padding-top: 10px;
        }
    }
    &:hover {
        .card-buttons {
            height: 40px;
            margin-top: 50px;
        }
    }
    .card-buttons {
        display: flex;
        width: 100%;
        height: 0;
        transition: 0.5s;

        .edit {
            width: 50%;
            padding: 10px 0px;
            background-color: #1992db;
            border-radius: 4px;
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                background-color: #0782cf;
            }
        }
        .remove {
            width: 50%;
            padding: 10px 0px;
            background-color: rgba(255, 255, 255, 0.2);
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                background-color: #d61515;
            }
        }
    }
}
